.git
.github

.gitignore
Dockerfile
docker-compose.yml
docker-compose.dev.yml

README.md
LICENSE

venv
.venv
env

__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/

.idea/
.vscode/

dist/
build/

*.log

fileswift.db
config.json

static/download/
textos_anexos/

.git
.github

__pycache__/
*.pyc

.pytest_cache/
.mypy_cache/

venv/
.venv/

data/

fileswift.db
config.json

static/download/
textos_anexos/

dist/
build/